body{

    padding: 0;
    margin: 0;

}
.header{
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100vw;
    height:65px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2), -2px -2px 4px rgba(255,255,255,0.1);
}
#home-icon{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;

    font-size:3rem;
     background-image: url(https://media.istockphoto.com/id/941875542/photo/yellow-green-gradient-cubes-3d-render.jpg?b=1&s=170667a&w=0&k=20&c=Q-DILoK877-OW89lxoriSVGULWo4gaZ9hvzpsQZHlK0=);
        background-size: contain;
       -webkit-background-clip: text;

       background-clip: text;
       color: transparent;
       text-shadow: 2px 4px 2px rgba(0,0,0,0.1);
       transition:0.2s;
}
#home-icon:hover{
    transform:scale(1.007);

}
.sysbar{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    background-color: white;
    border-bottom: unset 3px black;
    column-gap:2vw;
}
.sysbar .tab{
    color: black;
    text-decoration: none;
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    transition:0.3s;
    background-image: url(https://coolbackgrounds.io/images/backgrounds/black/black-radial-gradient-bb05ed79.jpg);
    background-size: contain;
   -webkit-background-clip: text;
   background-clip: text;
   color: transparent;
}
.sysbar .tab:hover{
    color: white;
    background:rgb(240, 131, 89);
    border: 1px solid rgb(240, 131, 89);
    border-radius:2px;
}
.sysbar .icon{
    font-size: 2.15rem;

}
.sysbar input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width:20vw;
    height: 3vw;
    font-size: 1.5em;
    line-height: 2vw;

}
.navbar{
    top:4.8vw;
    position:fixed;
    width:17vw;
    align-items:flex-start;
    height:100%;
    border-radius:1px;
    background-color: white;
     box-shadow: 2px 2px 4px rgba(0,0,0,0.2), -2px -2px 4px rgba(255,255,255,0.1);
    left:-17vw;
     transition:0.1s;
}
.navbar2{
    top:4.8vw;
    position:fixed;
    width:17vw;
    align-items:flex-start;
    height:10vw;
    border-radius:10px;
    background-color: white;
     box-shadow: 2px 2px 4px rgba(0,0,0,0.2), -2px -2px 4px rgba(255,255,255,0.1);
    right:-17vw;
     transition:0.1s;
}
.user-bar{
    padding-right:2vw;
    flex-grow:1;
    display:flex;
    justify-content: flex-end;
    column-gap:3vw;
    align-items:center;
}
#filter-menu.show{
    color: rgb(240, 240, 200);
    background:lightblue;
}
#user-btn.show{
    color: rgb(240, 240, 200);
    background:lightblue;
}
.navbar.show{
     left:0vw;
}
.navbar2.show{
     right:0vw;
}

.navbar ul{

    display: flex;
    flex-direction:column;
    row-gap:1vw;
    list-style-type: none;
}
.navbar2 ul{

    display: flex;
    flex-direction:column;
    row-gap:1vw;
    list-style-type: none;
}
.navbar ul li a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    display: inline-block;
    color: #000;
    text-align: center;
    font-weight: 750;
    font-size: small;
    font-kerning: none;
}
.navbar2 ul li a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    display: inline-block;
    color: #000;
    text-align: center;
    font-weight: 750;
    font-size: small;
    font-kerning: none;
}

.nav-link {
    transition: 0.7s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-link:hover{
    color: rgb(240, 131, 89);
    border-bottom: 1px solid rgb(240, 131, 89);

}
#search-bar{
    display:flex;
}
.header-button{
    border:none ;
    outline:none;
    color: black;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 900;
    background-image: url(https://coolbackgrounds.io/images/backgrounds/black/black-radial-gradient-bb05ed79.jpg);
    background-size: contain;
   -webkit-background-clip: text;
    background-clip: text;

}
#filter-menu{
    margin-left:1vw;
    border:none;
    outline:none;
    background:transparent;
    font-size:2.6rem;
    border-radius:10px;
    transition:0.1s;
}
#filter-menu:hover{
    color:white;
    background:rgb(240, 131, 89);
}
#user-btn{
    border:none;
    outline:none;
    background:transparent;
    font-size:2.6rem;
    border-radius:10px;
    transition:0.1s;
}
#user-btn:hover{
    color:white;
    background:rgb(240, 131, 89);
}
#today-diet{

    text-decoration:none;
    color:inherit;
    border:none;
    outline:none;
    background:transparent;
    font-size:2.2rem;
    padding:0.3vw 0.7vw 0.5vw 0.7vw;
    border-radius:10px;
    transition:0.1s;

}
#today-diet:hover{
    color:white;
    background:rgb(240, 131, 89);
}

